fastapi==0.115.8
uvicorn==0.34.0
ultralytics==8.3.70
opencv-python-headless==4.11.0.86
librosa==0.10.2
tensorflow==2.15.0
pydantic<2.0
python-multipart==0.0.20
moviepy==1.0.3
aiofiles==24.1.0
numpy<2.0.0
